.register{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: max-content 1fr;
    background: linear-gradient(to bottom, #fafafa, #e2efff);
}

.register .img-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.register .img-container .txt{
    width: 100%;
    height: max-content;
    background-color: #1a1c1e;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    color: white;
    font-family: "Public Sans";
}

.register .img-container .txt .row{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.register .img-container .txt .row .img-logo{
    width: 30px;
    height: auto;
}

.register .img-container .txt .row .logo{
    font-size: 18px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #dcdcdc, #898787);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.register .img-container .txt .title{
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 400;
}

.register .img-container .txt .sub{
    font-size: 13px;
    width: 80%;
    font-weight: 300;
    color: #c3c3c3;
    line-height: calc(100% + 6px);
}

.register .section{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register .section .wrap{
    width: 50%;
    height: max-content;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    font-family: "Public Sans";
}

.register .section .wrap .title{
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    line-height: calc(100% + 10px);
    text-transform: capitalize;
    margin-bottom: 30px;
}


.register .section .wrap .wrapper{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.register .section .wrap .wrapper .lab{
    font-size: 13px;
    padding: 0 5px;
    color: #3b3b3b;
}

.register .section .wrap .wrapper .inp{
    width: 100%;
    height: 35px;
    border: 1px solid #efefef;
    background: white;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 5px;
    outline: none;
    font-family: "Public Sans";
}

.register .section .wrap .row{
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.register .section .wrap .row .lab{
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}

.register .section .wrap .row .custombox{
    width: 17px;
    height: 17px;
    border: 1.5px solid #dddddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: white;
}

.register .section .wrap .row .custombox.sel{
    background-color: #1a1c1e;
    border-color: #1a1c1e;
}

.register .section .wrap .btn{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #1a1c1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: "Public Sans";
    cursor: pointer;
}

.register .section .wrap .btn.ot{
    background-color: transparent;
    color: #1a1c1e;
    margin-top: 10px;
}

.register .section .wrap .btn.vm{
    width: 35px;
    height: 35px;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid #efefef;
    color: #000;
    background: #ffffff;
}

.register .notification{
    font-size: 13px;
    font-family: "Public Sans";
}